{{ define "about" }}

{{ template "header" }}

<main class="px-3">
    <h1 class="mt-5">Информация</h1>
    <div class="card">
      <img src="https://habrastorage.org/r/w780/getpro/habr/post_images/0dc/bd9/6e0/0dcbd96e0c74dc6614c34d73eb0b5464.jpg" class="card-img-top" alt="go">
      <div class="card-body">
        <p class="card-text">Данное приложение было разработано в качестве выполнения учебной практики в Самарском Университете. В разработке и дизайне участвовал 1 человек. Приложение разработано на языке Go с использованием MySQL.</p>
      </div>
    </div>
</main>

{{template "footer"}}

{{ end }}

